annotated-types
anyio
certifi
click
dnspython
email_validator
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
psycopg2-binary
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
rich-toolkit
shellingham
sniffio
SQLAlchemy
starlette
typer
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
